* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box !important
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    display: table;
    width: 100%;
    height: 100%;
    background-color: #171717;
    color: #000;
    line-height: 1.6;
    position: relative;
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
    overflow: -moz-scrollbars-none;
    /* For Firefox */
}

.left-column {
    float: left;
    width: 75%;
}

.right-column {
    float: left;
    width: 25%;
    padding-left: 2rem;
}

.card {
    padding: 30px;
    background-color: whitesmoke;
    margin-top: 2rem;
    border-radius: 1rem;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
    -moz-box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
    box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw;
    z-index: -1;
}


.line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

.line:after {
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: drop 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
    margin-left: -25%
}

.line:nth-child(1)::after {
    animation-delay: 2s
}

.line:nth-child(3) {
    margin-left: 25%
}

.line:nth-child(3)::after {
    animation-delay: 2.5s
}

@keyframes drop {
    0% {
        top: -50%;
    }

    100% {
        top: 110%;
    }
}


html,
body {
    height: 100%;
}

.name:hover {
    cursor: pointer;
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    left: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: rgba(22, 18, 255, 1);
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 10px;
    /* Some padding */
    border-radius: 50%;
    align-items: center;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
    animation: fadeIn 0.3s;
}

#myBtn:hover {
    background-color: rgb(45, 41, 252);
    ;
    /* Add a dark-grey background on hover */
}

header {
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
    align-items: center;
    width: 100%;
    background-color: whitesmoke;
    color: #000000;
    margin-top: 0;
    animation-name: slide-in-top;
    animation-duration: 0.5s;
    position: sticky;
    top: 0;
    -webkit-border-radius: 0 0 1rem 1rem;
    -moz-border-radius: 0 0 1rem 1rem;
    border-radius: 0 0 1rem 1rem;
    overflow: hidden;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-3-27 10:37:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}


header h1 {
    margin-right: 2rem;
    text-decoration: underline;
    text-decoration-color: blue;
}

nav ul {
    display: flex;
}

nav li {
    list-style-type: none;
    padding: 1rem;
}

nav li:hover {
    background-color: rgb(231, 227, 227);
    cursor: pointer;
    transition: 0.3s;
}

a {
    text-decoration: none;
}

nav a {
    color: #000000;
    text-decoration: none;
}

main {
    padding: 2rem;
}

.top {
    -webkit-box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
    -moz-box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
    box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
    -webkit-border-radius: 0 0 1rem 1rem;
    -moz-border-radius: 0 0 1rem 1rem;
    border-radius: 0 0 1rem 1rem;
    animation-name: shadow-show;
    animation-duration: 2.3s;
}

@-webkit-keyframes shadow-show {
    0% {
        -webkit-box-shadow: 2px 2px 6px 0px rgb(0, 0, 0);
        -moz-box-shadow: 2px 2px 6px 0px rgb(0, 0, 0);
        box-shadow: 2px 2px 6px 0px rgb(0, 0, 0);
    }

    100% {
        -webkit-box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
        -moz-box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
        box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
    }
}

@keyframes shadow-show {
    0% {
        -webkit-box-shadow: 2px 2px 6px 0px rgb(0, 0, 0);
        -moz-box-shadow: 2px 2px 6px 0px rgb(0, 0, 0);
        box-shadow: 2px 2px 6px 0px rgb(0, 0, 0);
    }

    100% {
        -webkit-box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
        -moz-box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
        box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
    }
}


.hero {
    text-align: center;
    background-image: url('../assets/images/cattle.jpeg');
    background-size: cover;
    background-position: center;
    margin-bottom: 0;
    color: #ffffff;
    padding: 5rem 0;
    border-radius: 1rem 1rem 0 0;
    animation-name: text-focus-in;
    animation-duration: 1s;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-3-27 10:35:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.work {
    background-color: rgb(223, 222, 222);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}


.card h2 {
    margin-bottom: 1rem;
}

.work-title {
    font-weight: normal;
}

.work img {
    object-fit: cover;
    width: 100%;
}

.hero image {
    width: auto;
    height: auto;
}

.hero h2 {
    font-size: 3rem;
    padding: 2rem;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
    cursor: pointer;
}

.menu {
    text-align: center;
    margin: 2rem auto;
    background-color: whitesmoke;
    padding: 2rem;
    border-radius: 1rem;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
    -moz-box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
    box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
}

.menu h2 {
    width: 30vw;
    border-radius: 1rem;
    color: rgb(0, 0, 0);
    margin: auto;
    padding: 1rem;
}

.menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.menu-item {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 1rem;
    text-align: left;
    border-bottom: solid blue;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
}

.menu-item a {
    text-decoration: none;
}

.menu-item a:visited {
    color: inherit;
}

.menu-item:hover {
    background-color: rgb(226, 223, 223);
    cursor: pointer;
    transition: 0.3s;
}

.menu-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.menu-item h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.menu-item p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.menu-item .price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.about {
    text-align: center;
    margin: 2rem auto;
    background-color: whitesmoke;
    padding: 2rem;
    border-radius: 1rem;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
    -moz-box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
    box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
}

.about h2 {
    margin: 2rem auto;
    background-color: whitesmoke;
}

.about p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.contact {
    text-align: center;
    margin: 2rem auto;
    background-color: whitesmoke;
    border-radius: 1rem;
    padding: 2rem;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
    -moz-box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
    box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
}

.contact h2 {
    margin-bottom: 1rem;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.contact input,
.contact textarea:focus {
    border: 3px solid #555;
}

.contact button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.contact button:hover {
    background-color: #555;
}

#bottomMenu {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    border-top: 1px solid #000;
    background: #fff;
    z-index: 1;
}

footer {
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.footer-links {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.footer-link {
    margin: 0 1rem;
}

.footer-link a {
    color: #fff;
    text-decoration: none;
}

.footer-copy {
    font-size: 0.8rem;
}

/* Popup styles */
.popup-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    display: none;
    z-index: 999;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
    -moz-box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
    box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
}

.popup-container.show {
    animation: fadeIn 0.5s;
    display: block;
}

.popup-container h3 {
    margin-top: 0;
}

.popup-container p {
    margin-bottom: 10px;
}

.popup-container .follow-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.follow-icons {
    margin-top: 1rem;
}

.popup-container .follow-icons a {
    color: #fff;
    font-size: 1.5rem;
    margin: 0 10px;
    text-decoration: none;
}

.popup-container .follow-icons a i {
    transition: transform 0.2s;
}

.popup-container .follow-icons a:hover i {
    transform: scale(1.2);
}

#popup-container #close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    border-style: none;
    cursor: pointer;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
}

.follow-icons a img {
    width: 2.1rem;
    height: 2.1rem;
}

.insta {
    max-width: 1.6rem;
    max-height: 1.6rem;
    margin-bottom: 0.25rem;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 1000px) {
    .left-column {
        float: none;
        width: 100%;
    }

    .right-column {
        display: none;
    }

}

@media only screen and (max-width: 600px) {
    header h1 {
        display: none;
    }

    .top-nav {
        display: flex;
        justify-content: space-between;
    }

    .nav-items {
        display: flex;
        justify-content: space-between;
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .nav-items li {
        flex-grow: 1;
        text-align: center;
    }

    .nav-items li a {
        display: block;
        padding: 1rem;
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }
}

#cube-container {
    box-sizing: border-box;
    transform-style: preserve-3d;
    margin-top: 12rem;
    left: 50%;
    position: relative;
    width: 250px;
    height: 250px;
    transition: 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transform: translate(-50%, -50%);
}

#cube-container .face {
    width: 250px;
    height: 250px;
    position: absolute;
    border: 2px solid #ed3403;
    background: #ed340370;
    box-shadow: 0px 0px 150px #ed3403;
}

#cube-container .face.top {
    transform: rotateX(90deg);
    margin-top: -50%;
}

#cube-container .face.right {
    transform: rotateY(90deg);
    margin-left: 50%;
}

#cube-container .face.left {
    transform: rotateY(-90deg);
    margin-left: -50%;
}

#cube-container .face.bottom {
    transform: rotateX(90deg);
    margin-top: 50%;
}

#cube-container .face.back {
    transform: translateZ(125px);
}

#cube-container .face.front {
    transform: translateZ(-125px);
}

#cube-container:hover {
    transform: rotateX(-25deg) rotateY(-40deg) translate(-50%, -50%);
    transition: 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}