* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box !important
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    display: table;
    width: 100%;
    height: 100%;
    background-color: #171717;
    color: #000;
    line-height: 1.6;
    position: relative;
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
    overflow: -moz-scrollbars-none;
    background-color: #040004;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='498' height='498' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%230000FF' stroke-width='2.7'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%232E49C1'%3E%3Ccircle cx='769' cy='229' r='8'/%3E%3Ccircle cx='539' cy='269' r='8'/%3E%3Ccircle cx='603' cy='493' r='8'/%3E%3Ccircle cx='731' cy='737' r='8'/%3E%3Ccircle cx='520' cy='660' r='8'/%3E%3Ccircle cx='309' cy='538' r='8'/%3E%3Ccircle cx='295' cy='764' r='8'/%3E%3Ccircle cx='40' cy='599' r='8'/%3E%3Ccircle cx='102' cy='382' r='8'/%3E%3Ccircle cx='127' cy='80' r='8'/%3E%3Ccircle cx='370' cy='105' r='8'/%3E%3Ccircle cx='578' cy='42' r='8'/%3E%3Ccircle cx='237' cy='261' r='8'/%3E%3Ccircle cx='390' cy='382' r='8'/%3E%3C/g%3E%3C/svg%3E");
    /* For Firefox */
}

.left-column {
    float: left;
    width: 75%;
    animation: fadeIn 1s;
}

.right-column {
    float: left;
    width: 25%;
    padding-left: 2rem;
    animation: fadeIn 1s;
}

.fa-light {
    color: #0000ff;
}

.fa-solid {
    color: #0000ff;
}

.fa-solid:hover {
    color: rgb(36, 36, 247);
}

.fa-sharp {
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 3px solid #cccccc;
    background-color: rgb(223, 222, 222);
    color: blue;
}

.up-arrow {
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: rgb(223, 222, 222);
    color: blue;
}

.fa-sharp.fa-solid.fa-circle-chevron-up:hover {
    cursor: pointer;
}

.fa-circle-chevron-down:hover {
    cursor: pointer;
    background-color: rgb(238, 237, 237);
    transition: 0.3s;
}

.card {
    padding: 30px;
    background-color: whitesmoke;
    margin-top: 2rem;
    border-radius: 1rem;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
    -moz-box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
    box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw;
    z-index: -1;
}

.line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

.line:after {
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: drop 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
    margin-left: -25%
}

.line:nth-child(1)::after {
    animation-delay: 2s
}

.line:nth-child(3) {
    margin-left: 25%
}

.line:nth-child(3)::after {
    animation-delay: 2.5s
}

@keyframes drop {
    0% {
        top: -50%;
    }

    100% {
        top: 110%;
    }
}

html,
body {
    height: 100%;
}

.name:hover {
    cursor: pointer;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #dfdede;
    color: white;
    cursor: pointer;
    border-radius: 1rem;
    align-items: center;
    border: 1px solid #cccccc;
    font-size: 18px;
    animation: fadeIn 0.3s;
}

#myBtn:hover {
    cursor: pointer;
    background-color: rgb(238, 237, 237);
    transition: 0.3s;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
    align-items: center;
    width: 100%;
    background-color: rgb(223, 222, 222);
    color: #000000;
    margin-top: 0;
    animation-name: slide-in-top;
    animation-duration: 0.5s;
    position: sticky;
    top: 0;
    -webkit-border-radius: 0 0 1rem 1rem;
    -moz-border-radius: 0 0 1rem 1rem;
    border-radius: 0 0 1rem 1rem;
    overflow: hidden;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-3-27 10:37:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

header h1 {
    margin-right: 2rem;
    text-decoration: underline;
    text-decoration-color: blue;
}

nav ul {
    display: flex;
}

nav li {
    list-style-type: none;
    padding: 1rem;
}

nav li:hover {
    background-color: rgb(238, 237, 237);
    cursor: pointer;
    transition: 0.3s;
}

a {
    text-decoration: none;
}

nav a {
    color: #000000;
    text-decoration: none;
}

main {
    padding: 2rem;
}

.top {
    -webkit-box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
    -moz-box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
    box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
    -webkit-border-radius: 0 0 1rem 1rem;
    -moz-border-radius: 0 0 1rem 1rem;
    border-radius: 1rem 1rem 1rem 1rem;
    animation-name: shadow-show;
    animation-duration: 2.3s;
}

@-webkit-keyframes shadow-show {
    0% {
        -webkit-box-shadow: 2px 2px 6px 0px rgb(0, 0, 0);
        -moz-box-shadow: 2px 2px 6px 0px rgb(0, 0, 0);
        box-shadow: 2px 2px 6px 0px rgb(0, 0, 0);
    }

    100% {
        -webkit-box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
        -moz-box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
        box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
    }
}

@keyframes shadow-show {
    0% {
        -webkit-box-shadow: 2px 2px 6px 0px rgb(0, 0, 0);
        -moz-box-shadow: 2px 2px 6px 0px rgb(0, 0, 0);
        box-shadow: 2px 2px 6px 0px rgb(0, 0, 0);
    }

    100% {
        -webkit-box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
        -moz-box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
        box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
    }
}

.hero {
    text-align: center;
    background-image: url('../assets/images/cattle.jpeg');
    background-size: cover;
    background-position: center;
    margin-bottom: 0;
    color: #ffffff;
    padding: 5rem 0;
    border-radius: 1rem 1rem 0 0;
    animation-name: text-focus-in;
    animation-duration: 1s;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-3-27 10:35:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.work {
    background-color: rgb(223, 222, 222);
    padding: 1rem;
    border: 3px solid #cccccc;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.work:hover {
    background-color: rgb(238, 237, 237);
    padding: 1rem;
    border-bottom: solid blue;
    border-radius: 1rem;
    margin-bottom: 1rem;
    transition: 0.3s;
}

.card h2 {
    margin-bottom: 1rem;
}

.work-title {
    font-weight: normal;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.proj-img {
    object-fit: cover;
    width: 100%;
    border-radius: 0.5rem;
}

.hero image {
    width: auto;
    height: auto;
}

.hero h2 {
    font-size: 3rem;
    padding: 2rem;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

.btn {
    display: inline-block;
    background-color: #1513b3;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #2b28dd;
    cursor: pointer;
}

.menu {
    text-align: center;
    margin: 2rem auto;
    background-color: whitesmoke;
    padding: 2rem;
    border-radius: 1rem;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
    -moz-box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
    box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
}

.menu h2 {
    width: 30vw;
    border-radius: 1rem;
    color: rgb(0, 0, 0);
    margin: auto;
    padding: 1rem;
}

.menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.menu-item {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 1rem;
    text-align: left;
    border: 3px solid #cccccc;
    background-color: rgb(223, 222, 222);
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
}

.menu-item a {
    text-decoration: none;
}

.menu-item a:visited {
    color: inherit;
}

.menu-item:hover {
    background-color: rgb(238, 237, 237);
    cursor: pointer;
    border-bottom: solid blue;
    transition: 0.3s;
}

.menu-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.menu-item h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.menu-item p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.menu-item .price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.about {
    text-align: center;
    margin: 2rem auto;
    background-color: whitesmoke;
    padding: 2rem 2rem 4rem 2rem;
    border-radius: 1rem;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
    -moz-box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
    box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
}

.about h2 {
    margin: 2rem auto;
    background-color: whitesmoke;
}

.about p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.contact {
    text-align: center;
    margin: 2rem auto;
    background-color: whitesmoke;
    border-radius: 1rem;
    padding: 2rem;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
    -moz-box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
    box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
}

.contact h2 {
    margin-bottom: 1rem;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.contact input,
.contact textarea:focus {
    border: 3px solid #555;
}

.contact button {
    display: inline-block;
    background-color: #1513b3;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.contact button:hover {
    background-color: #2b28dd;
    cursor: pointer;
}

#bottomMenu {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    border-top: 1px solid #000;
    background: #fff;
    z-index: 1;
}

footer {
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.footer-links {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.footer-link {
    margin: 0 1rem;
}

.footer-link a {
    color: #fff;
    text-decoration: none;
}

.footer-copy {
    font-size: 0.8rem;
}

/* Popup styles */
.popup-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #dfdede;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 3px solid #cccccc;
    padding: 20px;
    display: none;
    z-index: 999;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
    -moz-box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
    box-shadow: 2px 2px 6px 0px rgba(22, 18, 255, 1);
}

.more-work {
    display: none;
    animation: fadeIn 0.5s;
}

.more-work.show {
    transition: 2s;
    display: block;
}

.popup-container:hover {
    background-color: rgb(238, 237, 237);
}

.popup-container.show {
    animation: fadeIn 0.5s;
    display: block;
}

.popup-container h3 {
    margin-top: 0;
}

.popup-container p {
    margin-bottom: 10px;
}

.popup-container .follow-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.follow-icons {
    margin-top: 1rem;
}

.popup-container .follow-icons a {
    color: #fff;
    font-size: 1.5rem;
    margin: 0 10px;
    text-decoration: none;
}

.popup-container .follow-icons a i {
    transition: transform 0.2s;
}

.popup-container .follow-icons a:hover i {
    transform: scale(1.2);
}

#popup-container #close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    border-style: none;
    cursor: pointer;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
}

.follow-icons a img {
    width: 2.1rem;
    height: 2.1rem;
}

.insta {
    max-width: 1.6rem;
    max-height: 1.6rem;
    margin-bottom: 0.25rem;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 1000px) {
    .left-column {
        float: none;
        width: 100%;
    }

    .right-column {
        display: none;
    }

}

@media only screen and (max-width: 600px) {
    header h1 {
        display: none;
    }

    .top-nav {
        display: flex;
        justify-content: space-between;
    }

    .nav-items {
        display: flex;
        justify-content: space-between;
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .nav-items li {
        flex-grow: 1;
        text-align: center;
    }

    .nav-items li a {
        display: block;
        padding: 1rem;
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }
}

.hidden-text {
    position: absolute;
    width: 68%;
    margin-top: 6rem;
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cube-container {
    box-sizing: border-box;
    transform-style: preserve-3d;
    position: relative;
    margin-top: 15rem;
    left: 50%;
    position: relative;
    width: 250px;
    height: 250px;
    transition: 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transform: translate(-50%, -50%);
    z-index: 2;
}

#cube-container .face {
    width: 250px;
    height: 250px;
    position: absolute;
    border: 2px solid blue;
    background-color: whitesmoke;
    box-shadow: 0px 0px 150px rgba(22, 18, 255, 1);
    text-align: center;
    border-radius: 0;
}

#cube-container .face.top {
    transform: rotateX(90deg);
    margin-top: -50%;
}

#cube-container .face.right {
    transform: rotateY(90deg);
    margin-left: 50%;
}

#cube-container .face.left {
    transform: rotateY(-90deg);
    margin-left: -50%;
}

#cube-container .face.bottom {
    transform: rotateX(90deg);
    margin-top: 50%;
}

#cube-container .face.back {
    transform: translateZ(125px);
}

#cube-container .face.front {
    transform: translateZ(-125px);
}

#cube-container:hover {
    transform: rotateX(-90deg) rotateY(0deg) translate(-50%, -50%);
    transition: 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.face-title {
    color: #1513b3;
}

.face-text {
    font-size: 24px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-top: 2rem;
}